/build
/web-code/rain-sense/logs
/web-code/rain-sense/*.log
/web-code/rain-sense/npm-debug.log*
/web-code/rain-sense/yarn-debug.log*
/web-code/rain-sense/yarn-error.log*
/web-code/rain-sense/pnpm-debug.log*
/web-code/rain-sense/lerna-debug.log*

/web-code/rain-sense/node_modules
/web-code/rain-sense/dist
/web-code/rain-sense/dist-ssr
/web-code/rain-sense/*.local

/web-code/rain-sense/.vscode/*
!/web-code/rain-sense/.vscode/extensions.json
/web-code/rain-sense/.idea
/web-code/rain-sense/.DS_Store
/web-code/rain-sense/*.suo
/web-code/rain-sense/*.ntvs*
/web-code/rain-sense/*.njsproj
/web-code/rain-sense/*.sln
/web-code/rain-sense/*.sw?
/web-code/rain-sense/.env
