/rain-sense/logs
/rain-sense/*.log
/rain-sense/npm-debug.log*
/rain-sense/yarn-debug.log*
/rain-sense/yarn-error.log*
/rain-sense/pnpm-debug.log*
/rain-sense/lerna-debug.log*

/rain-sense/node_modules
/rain-sense/dist
/rain-sense/dist-ssr
/rain-sense/*.local

/rain-sense/.vscode/*
!/rain-sense/.vscode/extensions.json
/rain-sense/.idea
/rain-sense/.DS_Store
/rain-sense/*.suo
/rain-sense/*.ntvs*
/rain-sense/*.njsproj
/rain-sense/*.sln
/rain-sense/*.sw?
